In [39]:
import numpy as np

scores = np.random.randint(50,101,size=(50,5))
scores

array([[ 87,  71,  99,  67,  50],
       [ 82,  73,  79,  81,  72],
       [ 82,  83,  69,  86,  62],
       [ 57,  91,  78,  63,  94],
       [ 76,  71,  84,  90,  61],
       [100,  77, 100,  90,  89],
       [ 57,  82,  74,  95,  64],
       [ 90,  81,  71,  53,  97],
       [ 54, 100,  65,  79,  74],
       [ 75,  57,  81,  80,  91],
       [ 98,  82,  92,  81,  81],
       [ 57,  64,  71,  59,  81],
       [ 84,  57,  64,  55,  95],
       [ 71,  66,  95,  97,  67],
       [ 80,  80,  57,  58,  89],
       [ 53,  52,  93,  85,  53],
       [ 60,  93,  88,  83,  87],
       [ 70,  89,  84,  98,  54],
       [ 68,  59,  73,  60,  53],
       [ 60,  99,  95, 100,  89],
       [ 76,  70,  83,  63,  54],
       [ 67,  96,  85,  55,  74],
       [ 90,  65,  81,  87,  78],
       [ 76,  86,  55,  72,  75],
       [ 87,  91,  76, 100,  89],
       [ 51,  58,  55,  64,  56],
       [ 51,  67,  78,  66,  51],
       [ 77,  95,  60,  52,  70],
       [ 81,  65,  90,  55,  76],
       [ 72,  93,  79,  51,  82],
       [ 73,  66,  89,  74,  89],
       [100,  96,  57,  56,  74],
       [ 95,  82,  60,  66,  52],
       [ 79,  68,  68,  73,  94],
       [ 70,  91,  86,  59, 100],
       [ 93,  93,  58,  82,  65],
       [ 94,  92,  99,  92,  66],
       [ 87,  78,  73,  99,  55],
       [ 62,  88,  77,  80,  71],
       [ 80,  86,  59,  50,  69],
       [ 54,  85,  80,  79,  72],
       [ 84,  67,  63,  54,  60],
       [ 79,  52,  99,  79,  62],
       [ 73,  86,  85,  66,  88],
       [ 81,  98,  79,  97,  83],
       [ 69,  87,  60,  53,  94],
       [ 75,  70,  58,  73,  99],
       [ 81,  89,  84,  57,  61],
       [ 60,  82,  68,  81,  59],
       [ 50,  81,  67,  61,  60]], dtype=int32)

In [40]:
import pandas as pd

df = pd.DataFrame(scores,
            index = [f"學生{i+1}" for i in range(50)],
            columns = ["國文","英文","數學","地理","歷史"]
)
df

       國文   英文   數學   地理   歷史
學生1    87   71   99   67   50
學生2    82   73   79   81   72
學生3    82   83   69   86   62
學生4    57   91   78   63   94
學生5    76   71   84   90   61
學生6   100   77  100   90   89
學生7    57   82   74   95   64
學生8    90   81   71   53   97
學生9    54  100   65   79   74
學生10   75   57   81   80   91
學生11   98   82   92   81   81
學生12   57   64   71   59   81
學生13   84   57   64   55   95
學生14   71   66   95   97   67
學生15   80   80   57   58   89
學生16   53   52   93   85   53
學生17   60   93   88   83   87
學生18   70   89   84   98   54
學生19   68   59   73   60   53
學生20   60   99   95  100   89
學生21   76   70   83   63   54
學生22   67   96   85   55   74
學生23   90   65   81   87   78
學生24   76   86   55   72   75
學生25   87   91   76  100   89
學生26   51   58   55   64   56
學生27   51   67   78   66   51
學生28   77   95   60   52   70
學生29   81   65   90   55   76
學生30   72   93   79   51   82
學生31   73   66   89   74   89
學生32  100   96   57   56   74
學生33   95   82   60   66   52
學生34   79   68   68   73   94
學生35   70   91   86   59  100
學生36   93   93   58   82   65
學生37   94   92   99   92   66
學生38   87   78   73   99   55
學生39   62   88   77   80   71
學生40   80   86   59   50   69
學生41   54   85   80   79   72
學生42   84   67   63   54   60
學生43   79   52   99   79   62
學生44   73   86   85   66   88
學生45   81   98   79   97   83
學生46   69   87   60   53   94
學生47   75   70   58   73   99
學生48   81   89   84   57   61
學生49   60   82   68   81   59
學生50   50   81   67   61   60

In [41]:
#透過欄的選取

df["國文"]
df["英文"]
df[["國文","英文"]]

       國文   英文
學生1    87   71
學生2    82   73
學生3    82   83
學生4    57   91
學生5    76   71
學生6   100   77
學生7    57   82
學生8    90   81
學生9    54  100
學生10   75   57
學生11   98   82
學生12   57   64
學生13   84   57
學生14   71   66
學生15   80   80
學生16   53   52
學生17   60   93
學生18   70   89
學生19   68   59
學生20   60   99
學生21   76   70
學生22   67   96
學生23   90   65
學生24   76   86
學生25   87   91
學生26   51   58
學生27   51   67
學生28   77   95
學生29   81   65
學生30   72   93
學生31   73   66
學生32  100   96
學生33   95   82
學生34   79   68
學生35   70   91
學生36   93   93
學生37   94   92
學生38   87   78
學生39   62   88
學生40   80   86
學生41   54   85
學生42   84   67
學生43   79   52
學生44   73   86
學生45   81   98
學生46   69   87
學生47   75   70
學生48   81   89
學生49   60   82
學生50   50   81

In [42]:
#透過index的選取
df.loc["學生1"]
df.loc[["學生1","學生2"]]

     國文  英文  數學  地理  歷史
學生1  87  71  99  67  50
學生2  82  73  79  81  72

In [43]:
#透過index的索引值選取
df.iloc[0]
df.iloc[[0,1]]

     國文  英文  數學  地理  歷史
學生1  87  71  99  67  50
學生2  82  73  79  81  72

In [44]:
df.iloc[:5]
df.iloc[-5:]

      國文  英文  數學  地理  歷史
學生46  69  87  60  53  94
學生47  75  70  58  73  99
學生48  81  89  84  57  61
學生49  60  82  68  81  59
學生50  50  81  67  61  60

In [45]:
import numpy as np
total = np.sum(df,axis=1)
mean = np.mean(df,axis=1)

In [46]:
df["總分"] = total
df["平均"] = mean

In [47]:
df

       國文   英文   數學   地理   歷史   總分    平均
學生1    87   71   99   67   50  374  74.8
學生2    82   73   79   81   72  387  77.4
學生3    82   83   69   86   62  382  76.4
學生4    57   91   78   63   94  383  76.6
學生5    76   71   84   90   61  382  76.4
學生6   100   77  100   90   89  456  91.2
學生7    57   82   74   95   64  372  74.4
學生8    90   81   71   53   97  392  78.4
學生9    54  100   65   79   74  372  74.4
學生10   75   57   81   80   91  384  76.8
學生11   98   82   92   81   81  434  86.8
學生12   57   64   71   59   81  332  66.4
學生13   84   57   64   55   95  355  71.0
學生14   71   66   95   97   67  396  79.2
學生15   80   80   57   58   89  364  72.8
學生16   53   52   93   85   53  336  67.2
學生17   60   93   88   83   87  411  82.2
學生18   70   89   84   98   54  395  79.0
學生19   68   59   73   60   53  313  62.6
學生20   60   99   95  100   89  443  88.6
學生21   76   70   83   63   54  346  69.2
學生22   67   96   85   55   74  377  75.4
學生23   90   65   81   87   78  401  80.2
學生24   76   86   55   72   75  364  72.8
學生25   87   91   76  100   89  443  88.6
學生26   51   58   55   64   56  284  56.8
學生27   51   67   78   66   51  313  62.6
學生28   77   95   60   52   70  354  70.8
學生29   81   65   90   55   76  367  73.4
學生30   72   93   79   51   82  377  75.4
學生31   73   66   89   74   89  391  78.2
學生32  100   96   57   56   74  383  76.6
學生33   95   82   60   66   52  355  71.0
學生34   79   68   68   73   94  382  76.4
學生35   70   91   86   59  100  406  81.2
學生36   93   93   58   82   65  391  78.2
學生37   94   92   99   92   66  443  88.6
學生38   87   78   73   99   55  392  78.4
學生39   62   88   77   80   71  378  75.6
學生40   80   86   59   50   69  344  68.8
學生41   54   85   80   79   72  370  74.0
學生42   84   67   63   54   60  328  65.6
學生43   79   52   99   79   62  371  74.2
學生44   73   86   85   66   88  398  79.6
學生45   81   98   79   97   83  438  87.6
學生46   69   87   60   53   94  363  72.6
學生47   75   70   58   73   99  375  75.0
學生48   81   89   84   57   61  372  74.4
學生49   60   82   68   81   59  350  70.0
學生50   50   81   67   61   60  319  63.8

In [56]:
five_df = df.iloc[:5]
five_df[five_df["總分"] >= 380]

     國文  英文  數學  地理  歷史   總分    平均
學生2  82  73  79  81  72  387  77.4
學生3  82  83  69  86  62  382  76.4
學生4  57  91  78  63  94  383  76.6
學生5  76  71  84  90  61  382  76.4

In [53]:
df[df["總分"] >= 380]

       國文  英文   數學   地理   歷史   總分    平均
學生2    82  73   79   81   72  387  77.4
學生3    82  83   69   86   62  382  76.4
學生4    57  91   78   63   94  383  76.6
學生5    76  71   84   90   61  382  76.4
學生6   100  77  100   90   89  456  91.2
學生8    90  81   71   53   97  392  78.4
學生10   75  57   81   80   91  384  76.8
學生11   98  82   92   81   81  434  86.8
學生14   71  66   95   97   67  396  79.2
學生17   60  93   88   83   87  411  82.2
學生18   70  89   84   98   54  395  79.0
學生20   60  99   95  100   89  443  88.6
學生23   90  65   81   87   78  401  80.2
學生25   87  91   76  100   89  443  88.6
學生31   73  66   89   74   89  391  78.2
學生32  100  96   57   56   74  383  76.6
學生34   79  68   68   73   94  382  76.4
學生35   70  91   86   59  100  406  81.2
學生36   93  93   58   82   65  391  78.2
學生37   94  92   99   92   66  443  88.6
學生38   87  78   73   99   55  392  78.4
學生44   73  86   85   66   88  398  79.6
學生45   81  98   79   97   83  438  87.6