In [1]:
#AI建立一個function
#資料來源:scores = np.random.randint(50,101,size=(50, 5))
#欄位: ['國文', '英文', '數學', '自然', '社會','總分','平均','排名']
#索引: ['學生' + str(i) for i in range(1, 51)]
#建立DataFrame
import numpy as np
import pandas as pd 

def build_scores_dataframe(scores):
    df = pd.DataFrame(scores,
                      columns=['國文', '英文', '數學', '自然', '社會'],
                      index=['學生' + str(i) for i in range(1, 51)])
    df.index.name = '學生'
    df.columns.name = '科目'
    sum_values = df.sum(axis=1)
    mean_values = df.mean(axis=1)
    df['總分'] = sum_values
    df['平均'] = mean_values
    rank_values = sum_values.rank(method='min', ascending=False)
    df['排名'] = rank_values
    return df

scores = np.random.randint(50,101,size=(50, 5))
df = build_scores_dataframe(scores)
df

科目     國文  英文   數學   自然   社會   總分    平均    排名
學生
學生1    94  59   91   86   69  399  79.8  17.0
學生2    62  99   55   60   50  326  65.2  48.0
學生3    84  83   62   62   76  367  73.4  37.0
學生4    93  98   73   67   66  397  79.4  19.0
學生5    79  86   63   62   82  372  74.4  34.0
學生6    82  57   87   80   88  394  78.8  20.0
學生7    93  90   66   96   59  404  80.8  12.0
學生8    93  57   88   64   65  367  73.4  37.0
學生9    72  95   91   96   90  444  88.8   2.0
學生10   88  88   96   97   88  457  91.4   1.0
學生11   79  97   78   53   66  373  74.6  33.0
學生12   57  91   51   94   81  374  74.8  32.0
學生13   78  73   85   98   51  385  77.0  25.0
學生14   85  71   92  100   90  438  87.6   3.0
學生15   76  58   69   63   79  345  69.0  44.0
學生16   78  72   98   79  100  427  85.4   6.0
學生17   90  98   77   82   57  404  80.8  12.0
學生18   71  70   72   60   57  330  66.0  45.0
學生19   71  88   62   80   93  394  78.8  20.0
學生20   96  76   69   97   76  414  82.8   9.0
學生21   67  97   54   66   92  376  75.2  30.0
學生22   93  60   81   80   58  372  74.4  34.0
學生23   84  63   91   56   70  364  72.8  39.0
學生24   60  58   56   96   60  330  66.0  45.0
學生25   51  70   82   57   54  314  62.8  50.0
學生26   64  76   72   73   99  384  76.8  26.0
學生27   66  73   73   59   83  354  70.8  42.0
學生28   91  89   59   99   80  418  83.6   7.0
學生29   95  68   72   85   61  381  76.2  28.0
學生30   85  56   71   69   94  375  75.0  31.0
學生31   91  51   97   98   70  407  81.4  11.0
學生32   78  82  100   67   84  411  82.2  10.0
學生33   93  92   72   77   69  403  80.6  15.0
學生34   65  60   62   83   59  329  65.8  47.0
學生35   53  94   98   99   84  428  85.6   5.0
學生36   63  72   67   74   76  352  70.4  43.0
學生37   88  91   67   62   94  402  80.4  16.0
學生38   55  52   58   61   94  320  64.0  49.0
學生39   97  78   52   80   56  363  72.6  40.0
學生40   82  73  100   78   53  386  77.2  23.0
學生41  100  98   91   77   52  418  83.6   7.0
學生42   61  92   72   97   82  404  80.8  12.0
學生43   94  80   93   52   53  372  74.4  34.0
學生44   81  68   61   73   77  360  72.0  41.0
學生45   77  52   98   68   82  377  75.4  29.0
學生46   81  83   82   91   92  429  85.8   4.0
學生47   87  74   97   69   56  383  76.6  27.0
學生48   84  78   96   60   73  391  78.2  22.0
學生49   64  80   69   73  100  386  77.2  23.0
學生50   50  87   96   97   69  399  79.8  17.0

In [12]:
#選擇欄位
df1 = df[['國文','英文','數學','自然','社會']]

def apply_statistics(series):
    """傳出平均,最高,最低,中間值"""
    return series.agg(['mean', 'max', 'min', 'median'])

df2 = df1.apply(apply_statistics,axis=0) 
df2.index = ['平均', '最高', '最低', '中間值']
df2

科目       國文     英文      數學      自然      社會
平均    78.42  77.06   77.28   77.04   74.18
最高   100.00  99.00  100.00  100.00  100.00
最低    50.00  51.00   51.00   52.00   50.00
中間值   81.00  77.00   73.00   77.00   76.00

In [11]:
s1 = df1['國文'].agg(['mean', 'max', 'min', 'median'])
s2 = df1['英文'].agg(['mean', 'max', 'min', 'median'])
s3 = df1['數學'].agg(['mean', 'max', 'min', 'median'])
s4 = df1['自然'].agg(['mean', 'max', 'min', 'median'])
s5 = df1['社會'].agg(['mean', 'max', 'min', 'median'])
stats = pd.DataFrame([s1, s2, s3, s4, s5], index=['國文', '英文', '數學', '自然', '社會'])
stats

     mean    max   min  median
國文  78.42  100.0  50.0    81.0
英文  77.06   99.0  51.0    77.0
數學  77.28  100.0  51.0    73.0
自然  77.04  100.0  52.0    77.0
社會  74.18  100.0  50.0    76.0